<%- include('../partials/header') %>
<div class="container mt-5">

    <div>
        <table class="table table-hover table-striped">
            <tr>
                <td>ID</td>
                <td><%= user_game_bios.id %></td>
            </tr>            
            <tr>
                <td>Date of Birth</td>
                <td><%= user_game_bios.date_of_birth %></td>
            </tr>
            <tr>
                <td>Place of Birth</td>
                <td><%= user_game_bios.place_of_birth %></td>
            </tr>
            <tr>
                <td>Hobby</td>
                <td><%= user_game_bios.hobby %></td>
            </tr>
        </table>
    </div>

</div>



<%- include('../partials/footer') %>